body{
  display: flex;
  height: 100%;
}

.side-bar{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background: #555;
    width: 175px;
    border-right: 3px solid #FFFFA0;
}

.top_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* .side-menu {
    padding: 5px;
} */

.lg_bt {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.lg_bt_ch {
    width: 50%;
    height: 20px;
    border-radius: 10px;
    background-color: #999;
    font-size: 10px;
}

.menu-ch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}


.main-content{
    background: white;
    flex: 1;
}

.welcome {
    width: 800px;
    height: 120px ;
}

.menu-bar {
    padding: -10px;
}

.notic-header {
    margin-left: 10px;
}

.post-list {
    margin-bottom: 30px;
}

.post {
    line-height: 0.5;
    font-size: 12px;
}

.topic {
    color: #000080;
    text-decoration: underline;
    font-size: 14px;
}

.create-post-by {
    padding: px;
    background-color: #F7F7F7;
    font-size: 14px;
}

.more {
    color: #006699;
}

.pcd {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100px;

}
